.about {
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    $size: 40px;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;

    .bg_links {
        width: $size;
        height: $size;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#000000, 0.2);
        border-radius: 100%;
        backdrop-filter: blur(5px);
        position: absolute;
    }

    .logo {
        width: $size;
        height: $size;
        z-index: 9;
        background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 10px 7px;
        opacity: 0.9;
        transition: all 1s 0.2s ease;
        bottom: 0;
        right: 0;
    }

    .social {
        opacity: 0;
        right: 0;
        bottom: 0;

        .icon {
            width: 100%;
            height: 100%;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            display: flex;
            transition: all 0.2s ease, background-color 0.4s ease;
            opacity: 0;
            border-radius: 100%;
        }

        &.portfolio {
            transition: all 0.8s ease;

            .icon {
                background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
            }
        }

        &.dribbble {
            transition: all 0.3s ease;

            .icon {
                background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
            }
        }

        &.linkedin {
            transition: all 0.8s ease;

            .icon {
                background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
            }
        }
    }

    &:hover {
        width: 105px;
        height: 105px;
        transition: all $transition;

        .logo {
            opacity: 1;
            transition: all 0.6s ease;
        }

        .social {
            opacity: 1;

            .icon {
                opacity: 0.9;
            }

            &:hover {
                background-size: 28px;

                .icon {
                    background-size: 65%;
                    opacity: 1;
                }
            }

            &.portfolio {
                right: 0;
                bottom: calc(100% - 40px);
                transition: all 0.3s 0s $cubic;

                .icon {
                    &:hover {
                        background-color: #698fb7;
                    }
                }
            }

            &.dribbble {
                bottom: 45%;
                right: 45%;
                transition: all 0.3s 0.15s $cubic;

                .icon {
                    &:hover {
                        background-color: #ea4c89;
                    }
                }
            }

            &.linkedin {
                bottom: 0;
                right: calc(100% - 40px);
                transition: all 0.3s 0.25s $cubic;

                .icon {
                    &:hover {
                        background-color: #0077b5;
                    }
                }
            }
        }
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap");

$font: "Barlow", sans-serif;

body {
    font-family: $font;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
}

.cards {
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

    .card {
        height: 440px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        min-width: 260px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        transition: all 0.4s ease;
        margin: 0 10px;

        &:before {
            height: 190px;
            width: calc(100% + 100px);
            content: "";
            position: absolute;
            background-image: linear-gradient(to top, #000000 0%, #fe0404 100%);
            border-radius: 4px 4px 100% 100%;
            transition: all 0.4s ease-out;
            top: 0;
        }

        .close {
            width: 18px;
            height: 18px;
            position: absolute;
            z-index: 2;
            cursor: pointer;
            background-image: url("https://rafaelalvucas.github.io/assets/icons/misc/cross.svg");
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
            right: 0;
            margin: 10px;
            padding: 5px;
            transition: all 0.2s ease;

            &:hover {
                background-size: 100%;
                opacity: 0.8;
            }
        }

        .arrow {
            display: none;
        }

        article {
            z-index: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            h2 {
                color: white;
                margin: 0;
                padding: 40px 20px 10px 20px;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.5px;
            }

            .title {
                color: white;
                padding: 10px 20px;
                letter-spacing: 0.8px;
                transition: all 0.4s ease;
            }

            .desc {
                padding: 10px 30px;
                font-size: 14px;
                text-align: center;
                line-height: 24px;
                color: #666;
                height: 90px;
                transition: all 0.4s ease-out;
            }

            .pic {
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 100%;
                margin: 20px 0;
                box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3);
                transition: all 0.6s ease;

                img {
                    width: 100%;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }
        }

        .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: white;
            //bottom: 4px;
            z-index: 1;

            .btn {
                border: 0;
                background-color: transparent;
                box-sizing: border-box;
                width: calc(50% - 1px);
                height: 36px;
                margin: 0;
                text-transform: uppercase;
                font-size: 10px;
                transition: all 0.6s ease-in-out;
                cursor: pointer;
                color: #eb4444;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-family: $font;
                letter-spacing: 0.5px;
                background: rgba(68, 129, 235, 0.08);

                span {
                    z-index: 1;
                    opacity: 1;
                    transition: all 0.4s ease-in-out;
                }

                .icon {
                    width: 10px;
                    opacity: 0;
                    position: absolute;
                    transition: all 0.2s ease-in-out;
                }

                &:before {
                    content: "";
                    width: 100%;
                    height: 0%;
                    position: absolute;
                    background: #eb4444;
                    transition: all 0.4s ease;
                    bottom: 0;
                    opacity: 0.2;
                }

                &:focus {
                    outline: 0;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);

                    span {
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }

                    .icon {
                        width: 22px;
                        opacity: 1;
                        transition: all 0.4s ease-in-out;
                    }

                    &:nth-child(3) {
                        .icon {
                            width: 18px;
                        }
                    }

                    &:before {
                        height: 100%;
                    }
                }

                &.clicked {

                    span {
                        display: none;
                    }

                    .icon {
                        width: 22px;
                        opacity: 1;
                        animation: icon 0.5s ease forwards;

                        @keyframes icon {
                            0% {
                                width: 22px;
                            }

                            50% {
                                width: 40px;
                            }

                            100% {
                                width: 22px;
                            }
                        }
                    }

                    &:before {
                        opacity: 0.3;
                        height: 100%;
                    }
                }
            }
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);

            &:before {
                height: 100%;
                border-radius: 4px;
            }

            .desc {
                color: white;
            }

            .pic {
                box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);

                img {
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }
        }

        &.closed {
            min-width: 120px;
            max-width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.6s ease;
            cursor: pointer;

            .title,
            .desc,
            .actions,
            .close {
                display: none;
            }

            h2 {
                padding: 0;
                height: 100%;
                transform: rotate(-90deg);
                width: 440px;
                z-index: 2;
                transition: all 0.6s ease;
            }

            .pic {
                border-radius: 100%;
                height: 400px;
                width: 400px;
                position: absolute;
                top: -20px;
                margin: 0;
                box-shadow: 0;
                transition: all 0.6s ease;

                img {
                    object-fit: cover;
                    height: 100%;
                    transform: translateY(20px);
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.5;
                    z-index: 1;
                    transition: all 0.4s ease;
                    transform: translateY(20px);
                }
            }

            &:before {
                height: 100%;
                border-radius: 4px;
            }

            .arrow {
                width: 18px;
                height: 18px;
                position: absolute;
                z-index: 2;
                cursor: pointer;
                bottom: 15px;
                padding: 5px;
                display: flex;
                justify-content: center;
                background-image: url("https://rafaelavlucas.github.io/assets/icons/misc/expand.svg");
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.2s ease;
            }

            &:hover {
                .arrow {
                    background-size: 100%;
                    opacity: 0.6;
                }
            }
        }
    }
}



*{
    font-family: 'Times New Roman', Times, serif;
}






@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}



.news {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  width: 350px;
  height: 30px;
  
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none
} 
.full-width{
    width: 100%;
}
.news span {
  float: left;
  color: #fff;
  padding: 5px;
  position: relative;
  top: 1%;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
  font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer
}

.news ul {
  float: left;
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none
}

.news ul li {line-height: 30px; list-style: none }

.news ul li a {
  color: #fff;
  text-decoration: none;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}

.news ul:hover { animation-play-state: paused }
.news span:hover+ul { animation-play-state: paused }

/* OTHER COLORS */
.blue { background: #347fd0 }
.blue span { background: #2c66be }
.red { background: #d23435 }
.red span { background: #c22b2c }
.green { background: #699B67 }
.green span { background: #547d52 }
.magenta { background: #b63ace }
.magenta span { background: #842696 }

.yellow {background : yellow}
.yellow span {background : yellow}











/* 
/* * * * * General CSS * * * * */
 *,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container1 {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: black;
    box-shadow: 0 0 5px #999999;
}

div.credit {
    position: relative;
    margin: 25px auto 0 auto;
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

div.credit a {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
} 



.login-1 .col-left,
.login-1 .col-right {
    padding: 30px;
    display: flex;
}

.login-1 .col-left {
    width: 60%;
    position: relative;
    left: -1px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: red;
}

.login-1 .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

@media(max-width: 575.98px) {
    .login-1 .container {
        flex-direction: column;
        box-shadow: none;
    }
    
    .login-1 .col-left,
    .login-1 .col-right {
        width: 100%;
        margin: 0;
        -webkit-clip-path: none;
        clip-path: none;
    }
    
    .login-1 .col-right {
        padding: 30px;
    }
}

.login-1 .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login-1 .login-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.login-1 .login-text p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login-1 .login-text .btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #000000;
    outline: none;
    border: 1px solid #000000;
    box-shadow: inset 0 0 0 0 red;
    transition: .3s;
    -webkit-transition: .3s;
}

.login-1 .login-text .btn:hover {
    color: red;
    box-shadow: inset 150px 0 0 0 black;
}

.login-1 .login-form {
    position: relative;
    width: 100%;
}

.login-1 .login-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.login-1 .login-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #000000;
    font-size: 15px;
}

.login-1 .login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login-1 .login-form p a {
    color: red;
    font-size: 14px;
    text-decoration: none;
}

.login-1 .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.login-1 .login-form p:last-child label {
    width: 60%;
    float: left;
}

.login-1 .login-form label span {
    color: red;
    padding-left: 2px;
}

.login-1 .login-form .one {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login-1 .login-form input:focus {
    border-color: red;
}

.login-1 .login-form button,
.login-1 .login-form .one {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid red;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 red;
    transition: .3s;
    -webkit-transition: .3s;
}

.login-1 .login-form button:hover,
.login-1 .login-form .one:hover {
    color: #000000;
    box-shadow: inset 250px 0 0 0 red;
} 
